     {% extends "base.html" %}
    
     
     {% block title %}খবর২৪ঘন্টা-{{ healthpost.health_title }}{% endblock %}
     
     
     {% block page_content %} 
    
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                
                 <div class="successmessage">
                          {% for message in messages %}
                           <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                          {{ message }}
                        </div>
                          {% endfor %}
                    </div>
                
                
                
                <article class="content">
                    <div class="post-thumb">
                        <img src="{{ healthpost.image.url }}" class="img-responsive post-image" alt="">
                        
                        <!--
                        <div class="social">
                            <ul>
                                <li><a href="#" class="facebook"><i class="fa  fa-facebook"></i><span>{{ politicspost.visit_politics }}</span> </a></li>
                                
                            </ul>
                        </div>
                         /.social icon -->
                    
                    </div>
                    <h1>{{ healthpost.health_title }}</h1>
                    <div class="date">
                        <ul>
                            <li><i class="fa fa-user" aria-hidden="true"></i>&#160;<a title="" href="#"><span>&nbsp;{{ healthpost.author.first_name }}</span></a> --</li>
                            <li><a title="" href="#">{{ healthpost.created_on | date }}</a> --</li>
                            <li><a title="" href="#"><span>{{ healthpost.comment_count }} টি মন্তব্য</span></a></li>
                        </ul>
                    </div>
                    <div>
                        {{ healthpost.health_content | safe }}
                    </div>
                    
                    
                    <div class="tags">
                    
                       <ul align="center">
                            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri }}">
                                  <i class="fa fa-facebook-square fa-1x"></i>&#160; ফেসবুকে শেয়ার
                            </a>
                            </li>
                       </ul>
                       
                    </div>
                    
                    
                    <!-- tags -->
                    <div class="tags">
                        <ul>
                            <li> <a href="/education">শিক্ষা ও সংস্কৃতি</a></li>
                            <li> <a href="/health">স্বাস্থ ও চিকিৎসা</a></li>
                            <li><a href="/fashion">ফ্যাশন</a></li>
                            <li><a href="/politics">রাজনীতি</a></li>
                            <li><a href="/international">বিশ্ব</a></li>
                            <li><a href="/bangladesh">বাংলাদেশ</a></li>
                            <li><a href="/travel">ভ্রমন</a></li>
                            <li><a href="/funny">বিনোদন</a></li>
                            <li><a href="/technology">বিজ্ঞান ও প্রযুক্তি</a></li>
                        
                        </ul>
                    </div>
                    <!-- Related news area
                        ============================================ -->
                    <div class="related-news-inner">
                        <h3 class="category-headding ">এই বিভাগের সম্পর্কিত খবর</h3>
                        <div class="headding-border"></div>
                        <div class="row">
                            <div id="content-slide-5" class="owl-carousel">
                                <!-- item-1 -->
                                <div class="item">
                                    <div class="row rn_block">
                                        
                                        {% for healthpost in health_post_related_s3 %}
                                        <div class="col-xs-12 col-md-4 col-sm-4 padd">
                                            <div class="post-wrapper wow fadeIn" data-wow-duration="2s">
                                                <!-- image -->
                                                <div class="post-thumb">
                                                    <a href="{% url 'health_detail' healthpost.pk %}">
                                                        <img class="img-responsive" src="{{ healthpost.image.url }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="post-info meta-info-rn">
                                                    <div class="slide">
                                                        <a target="_blank" href="/health" class="post-badge btn_nine">স্বা</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-title-author-details">
                                                <h4><a href="{% url 'health_detail' healthpost.pk %}">{{ healthpost.health_title }}</a></h4>
                                                <div class="post-editor-date">
                                                    <div class="post-date">
                                                        <i class="pe-7s-clock"></i> {{ healthpost.created_on | date }}
                                                    </div>
                                                    <div class="post-author-comment"><i class="pe-7s-comment"></i> {{ healthpost.comment_count }} </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                       
                                        
                                    </div>
                                </div>
                                <!-- item-2 -->
                                <div class="item">
                                    <div class="row rn_block">
                                       
                                        {% for healthpost in health_post_related_s6 %}
                                        <div class="col-xs-12 col-md-4 col-sm-4 padd">
                                            <div class="post-wrapper wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                                                <!-- image -->
                                                <div class="post-thumb">
                                                    <a href="{% url 'health_detail' healthpost.pk %}">
                                                        <img class="img-responsive" src="{{ healthpost.image.url }}" alt="">
                                                    </a>
                                                </div>
                                                <div class="post-info meta-info-rn">
                                                    <div class="slide">
                                                        <a target="_blank" href="/health" class="post-badge btn_nine">স্বা</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="post-title-author-details">
                                                <h4><a href="{% url 'health_detail' healthpost.pk %}">{{ healthpost.health_title }}</a></h4>
                                                <div class="post-editor-date">
                                                    <div class="post-date">
                                                        <i class="pe-7s-clock"></i> {{ healthpost.created_on | date }}
                                                    </div>
                                                    <div class="post-author-comment"><i class="pe-7s-comment"></i> {{ healthpost.comment_count }} </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        
                                        
                                       
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    {% load crispy_forms_tags %} 
                    
                    <!-- form
                        ============================================ -->
                    
                    
                    <div class="form-area">
                        <h3 class="category-headding ">মন্তব্য লিখুন</h3>
                        <div class="headding-border"></div>
                        <form action="." method="post" style="margin-top: 1.3em">
                           {{ comment_form | crispy }}
                           {% csrf_token %}
                         <button type="submit" class="btn btn-style">আপনার মন্তব্য পোস্ট করুন</button>
                         
                      </form>
                    </div>
                    <!-- comment box
                        ============================================ -->
                    <div class="comments-container">
                        <h1>মন্তব্য-{{ healthpost.comment_count }} টি </h1>
                        <ul id="comments-list" class="comments-list">
                             
                             {% for healthcomment in comments %}
                            <li>
                                <div class="comment-main-level">
                                    <!-- Avatar -->
                                    <div class="comment-avatar"><img src="/static/images/comment.webp" class="img-circle" alt=""></div>
                                    <!-- Contenedor del Comentario -->
                                    <div class="comment-box">
                                        <div class="comment-head">
                                            <h6 class="comment-name"><a href="#">{{ healthcomment.name }}</a></h6>
                                            <span>{{ healthcomment.created | timesince }}</span>
                                            <i class="fa fa-reply"></i>
                                            <i class="fa fa-heart"></i>
                                        </div>
                                        <div class="comment-content">
                                           {{ healthcomment.body }}
                                        </div>
                                    </div>
                                </div>
                            </li>
                              {% endfor %}
                        </ul>
                    
                    </div>
                </article>
            </div>
            <div class="col-sm-4 left-padding">
                <aside class="sidebar">
                    <form action="{% url 'search_health' %}" class="search-form">
                <div class="input-group search-area">
                    <!-- search area -->
                    <input type="text" class="form-control" placeholder="স্বাস্থ বিষয়ক খবর সার্চ করুন..." name="q">
                    <div class="input-group-btn">
                        <button class="btn btn-search" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
                </form>
                    <!-- /.search area -->
                    
                <!-- social icon -->
                <h3 class="category-headding ">সামাজিক মাধ্যম</h3>
                <div class="headding-border"></div>
                <div class="top_header_icon_side">
                            
                            <span class="top_header_icon_side_wrap">
                                    <a target="_blank" href="#" title="Twitter"><i class="fa fa-twitter-square fa-4x"></i></a>
                                </span>
                            <span class="top_header_icon_side_wrap">
                                    <a target="_blank" href="#" title="Facebook"><i class="fa fa-facebook-square fa-4x"></i></a>
                                </span>
                            <span class="top_header_icon_side_wrap">
                                    <a target="_blank" href="#" title="Instragram"><i class="fa fa-linkedin-square fa-4x"></i></a>
                                </span>
                            <span class="top_header_icon_side_wrap">
                                    <a target="_blank" href="#" title="Youtube"><i class="fa fa-youtube-square fa-4x"></i></a>
                            </span>
                            
                </div>
                <!-- /.social icon -->     
                    
                    
                    <div class="banner-add">
                        <!-- add -->
                        <span class="add-title">- বিজ্ঞাপন -</span>
                        <a href="#"><img src="/static/images/ad-banner.jpg" class="img-responsive center-block" alt=""></a>
                    </div>
                    <div class="tab-inner">
                        <ul class="tabs">
                            <li><a href="#">জনপ্রিয় খবর</a></li>
                            <li><a href="#">সর্বাধিক পঠিত</a></li>
                        </ul>
                        <hr>
                        <!-- tabs -->
                        <div class="tab_content">
                            <div class="tab-item-inner">
                                
                                {% for healthpost in popular_health_posts %}
                                <div class="box-item wow fadeIn" data-wow-duration="1s">
                                    <div class="img-thumb">
                                        <a href="{% url 'health_detail' healthpost.pk %}" rel="bookmark"><img class="entry-thumb" src="{{ healthpost.image.url }}" alt="" height="80" width="90"></a>
                                    </div>
                                    <div class="item-details">
                                        <h6 class="sub-category-title bg-color-1">
                                                <a href="/health">স্বাস্থ ও চিকিৎসা</a>
                                            </h6>
                                        <h3 class="td-module-title"><a href="{% url 'health_detail' healthpost.pk %}">{{ healthpost.health_title }}</a></h3>
                                        <div class="post-editor-date">
                                            <!-- post date -->
                                            <div class="post-date">
                                                <i class="pe-7s-clock"></i> {{ healthpost.created_on | date }}
                                            </div>
                                            <!-- post comment -->
                                            <div class="post-author-comment"><i class="pe-7s-comment"></i> {{ healthpost.comment_count }} </div>
                                        </div>
                                    </div>
                                </div>
                                 {% endfor %}
                                
                                
                                
                                
                                
                                
                            
                            </div>
                            <!-- / tab item -->
                            <div class="tab-item-inner">
                               
                                {% for healthpost in most_view_health_posts %}
                                <div class="box-item">
                                    <div class="img-thumb">
                                        <a href="{% url 'health_detail' healthpost.pk %}" rel="bookmark"><img class="entry-thumb" src="{{ healthpost.image.url }}" alt="" height="80" width="90"></a>
                                    </div>
                                    <div class="item-details">
                                        <h6 class="sub-category-title bg-color-5">
                                                <a href="/health">স্বাস্থ ও চিকিৎসা</a>
                                            </h6>
                                        <h3 class="td-module-title"><a href="{% url 'health_detail' healthpost.pk %}">{{ healthpost.health_title }}</a></h3>
                                        <div class="post-editor-date">
                                            <!-- post date -->
                                            <div class="post-date">
                                                <i class="pe-7s-clock"></i> {{ healthpost.created_on | date }}
                                            </div>
                                            <!-- post comment -->
                                            <div class="post-author-comment"><i class="pe-7s-comment"></i> {{ healthpost.comment_count }} </div>
                                        </div>
                                    </div>
                                </div>
                                  {% endfor %}
                                
                                
                                
                                
                            </div>
                            <!-- / tab item -->
                        </div>
                        <!-- / tab_content -->
                    </div>
                    <!-- / tab -->
                    <!-- comments -->
                    <div class="latest-comments-inner">
                        <h3 class="category-headding ">এই বিভাগের সর্বশেষ মন্তব্য</h3>
                        <div class="headding-border"></div>
                        
                         {% for healthcomment in commentslatest %}
                        <!-- latest comment post -->
                        <div class="post-style2 latest-com">
                            <img src="/static/images/comment.webp" alt="">
                            <div class="latest-com-detail">
                                <h5><a href="#" title="">{{ healthcomment.name }}</a></h5>
                                
                                <p>{{ healthcomment.body }}</p>
                            </div>
                        </div>
                         {% endfor %}
                        
                        
                        
                    </div>
                    <!-- slider widget -->
                    <div class="widget-slider-inner">
                        <h3 class="category-headding ">এই বিভাগের নির্বাচিত খবর</h3>
                        <div class="headding-border"></div>
                        <div id="widget-slider" class="owl-carousel owl-theme">
                            <!-- widget item -->
                            {% for healthpost in health_slide_post %}
                            <div class="item">
                                <a href="{% url 'health_detail' healthpost.pk %}"><img src="{{ healthpost.image.url }}" alt=""></a>
                                <h4><a href="{% url 'health_detail' healthpost.pk %}">{{ healthpost.health_title }}</a></h4>
                                <div class="date">
                                    <ul>
                                        <li><i class="fa fa-user" aria-hidden="true"></i>&#160;<a title="" href="#"><span>&nbsp;{{ healthpost.author.first_name }}</span></a> --</li>
                                        <li><a title="" href="#">{{ healthpost.created_on | date }}</a></li>
                                    </ul>
                                </div>
                                <p>{{ healthpost.health_content | safe | slice:":400" }}<a href="{% url 'health_detail' healthpost.pk %}">বিস্তারিত...</a></p>
                            </div>
                             {% endfor %}
                            
                            
                            
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    
    {% endblock %}